*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.header,.hero-main{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 20%;

    margin: 0 auto;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-item ul{
    display: flex;
    list-style: none;
   
}
.header-item ul li{
    margin-right:20px ;
}
.header-item ul a{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-main{
    height: 300px;
    padding-top: 0px;
}
.left-hero-main h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.left-hero-main p{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}
.left-hero-main button{
    
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 10px;
}
.right-hero-main img{
    padding-left: 50px;
    width: 300px;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:20% ;
    padding-right:20% ;
}
.main-info h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top:20px ;
}

.info img{
    width: 180px;
    height: 180px;
    border: 2px solid #3882f6;
}
.submain-info{
    display: flex;
    justify-content: space-between;
}
.info{
    margin: 20px 5px;
}

.info p{
    text-align: center;
}
.quote{
    background-color: #e5e7eb;
    font-size: 26px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.quote h3{
   padding-left: 350px;
}